<!-- BEGIN #sidebar -->
<div id="sidebar" class="sidebar flex-col">
    <!-- BEGIN scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- BEGIN nav -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                    </div>
                    <div class="info">

                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-header">Menu</li>
            
            <li><a href="/aluno"><i class="fas fa-user" style="font-size:1.2em;"></i>Administrar Alunos</a></li>
            <li><a href="/escola"><i class="fas fa-user" style="font-size:1.2em;"></i>Administrar Escolas</a></li>
            <li><a href="/turma"><i class="fas fa-user" style="font-size:1.2em;"></i>Administrar Turmas</a></li>

@*
            <li class="has-sub closed">
                <a id="campaignItens">
                    <b class="caret"></b>
                    <i class="fas fa-users" style="font-size:1.2em;"></i>
                    <span>Cadastrar novo</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/">Cadastrar Escola</a></li>
                    <li><a href="/" id="triggerReportCampaign">Cadastrar Turma</a></li>
                    <li><a href="/" id="triggerReportCampaign">Cadastrar Alunos</a></li>
                </ul>
            </li>

            <li><a href="/"><i class="fa fa-search" style="font-size:1.2em;"></i>Consultar</a></li>*@


        </ul>
    </div>
</div>
<div class="sidebar-bg"></div>
        