@{
  ViewData["Title"] = "Dashboard";
}

<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Sistema de Cadastro Escolar <small>Informações gerais.</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
	<!-- begin col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-blue">
			<div class="stats-icon"><i class="fa fa-school"></i></div>
			<div class="stats-info">
				<h4>Escolas</h4>
				<p>0</p>	
			</div>
			<div class="stats-link">
				<a href="javascript:;">Ver detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-info">
			<div class="stats-icon"><i class="fa fa-users"></i></div>
			<div class="stats-info">
				<h4>Turmas</h4>
				<p>0</p>	
			</div>
			<div class="stats-link">
				<a href="javascript:;">Ver detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-orange">
			<div class="stats-icon"><i class="fa fa-user"></i></div>
			<div class="stats-info">
				<h4>Alunos</h4>
				<p>0</p>	
			</div>
			<div class="stats-link">
				<a href="javascript:;">Ver detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-red">
			<div class="stats-icon"><i class="fa fa-info"></i></div>
			<div class="stats-info">
				<h4>Geral</h4>
				<p style="font-size: 14px;">Informações gerais<br /></p>	
			</div>
			<div class="stats-link" >
				<a href="javascript:;">Ver detalhes <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
</div>
